<ion-header>
    <ion-toolbar>
        <ion-title>{{newsData?.title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <img [src]="newsData?.image" alt="{{newsData?.author}}">
        <ion-card-content>
            {{newsData?.contentNews}}
            <div *ngIf="newsData?.url" class="row mt-3 mb-3">
                <div class="col-12">
                    <ion-button expand="block" fill="outline" href="{{newsData?.url}}" target="_blank">الذهاب الي
                        المصدر
                    </ion-button>
                </div>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <ion-card-subtitle>{{newsData?.author}}</ion-card-subtitle>
                    </ion-col>
                    <ion-col size="6">
                        <ion-card-subtitle class="ion-text-end">{{newsData?.date | date}}</ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>
</ion-content>
