<ion-header>
    <ion-toolbar>
        <ion-title>الأخبار</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-tab-group>
        <mat-tab *ngFor="let category of categories" label="{{category.categoryNameAr}}">
            {{category.categoryNameEn}}
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Card Titles</ion-card-title>
                    <ion-card-subtitle>{{category.categoryNameEn}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    Keep close to Nature's heart... and break clear away, once in awhile,
                    and climb a mountain or spend a week in the woods. Wash your spirit clean.
                </ion-card-content>
            </ion-card>
        </mat-tab>
    </mat-tab-group>
</ion-content>
