.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  color: #fff;
}

ion-card {
  background: linear-gradient(0deg, rgba(236, 37, 13, .5) 0%, rgba(253, 93, 147, .5) 100%);
  font-family: 'Almarai', sans-serif;
}

ion-card-subtitle {
  color: #fff;
  font-family: 'Almarai', sans-serif;
}

ion-card-content {
  color: #fff;
  font-family: 'Almarai', sans-serif;
}
