<ion-header>
    <ion-toolbar>
        <ion-title>الأخبار</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-tab-group>
        <mat-tab *ngFor="let category of categories" label="{{category.categoryNameAr}}">
            <div class="row">
                <div *ngFor="let news of category.News" class="col-md-6 col-sm-6 col-12">
                    <ion-card routerLink="{{news.newsID}}">
                        <img [src]="news.image" alt="{{news.author}}">
                        <ion-card-header>
                            <ion-card-title class="ion-text-center">{{news.title}}</ion-card-title>
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="6">
                                        <ion-card-subtitle>{{news.author}}</ion-card-subtitle>
                                    </ion-col>
                                    <ion-col size="6">
                                        <ion-card-subtitle class="ion-text-end">{{news.date | date}}</ion-card-subtitle>
                                    </ion-col>
                                </ion-row>

                            </ion-grid>
                        </ion-card-header>

                        <ion-card-content>
                            {{news.description}}
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>


        </mat-tab>
    </mat-tab-group>
</ion-content>
